.contenedorPrincipal {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #eee;
}
.tituloPrincipal {
  margin-top: 0;
  color: #333;
}
.contenedorInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorInput #labelInput {
  color: #333;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.contenedorInput #inputColor {
  border: none;
  border-radius: 5px;
}

.contenedorValorDelColor {
  margin-top: 1rem;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
}

.contenedorValorDelColor p {
  color: #333;
  font-weight: bold;
}